body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

.header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.input-group, .select-group, .button-group, .result-group {
    margin: 10px 0;
}

.input-group{
    width: 300px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    transition: background-color 0.3s;
}

input:focus, select:focus {
    background-color: #444;
    outline: none;
}

button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #121412;
    transform: scale(1.05);
}

.result-group h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #131813;
}
.currency-input {
    display: flex;
    align-items: center;
}

#currencySymbol {
    margin-right: 5px; 
    font-size: 25px;   
}

p{
   text-align: left;
}
